@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  @font-face{
    font-family: "Roboto";
    src:local("Roboto-Regular"),
    url('./assets/fonts/Roboto/Roboto-Regular.ttf') 
  }

  font-family: "Roboto", sans-serif;
  font-display: swap;
}